* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --yellow-gold: #fabd3b;
    --dark-grey: #2e2e2e;
    --soft-blue: #597492;
    --dark-blue: #153861;
    --blue-grey: #ADBCCE;
    --baby-blue: #DDEAF3;
    --cold-white: #FDFDFD;
    --cold-blue: rgba(54, 163, 177, 0.055);
    --blue-aqua: #53b8bb;

    /* --dark-green: #003638;
    --soft-dgreen: #055052;
    --blue-aqua: #53b8bb;
    --soft-beige: #f3f2c9; */
    
}

body {
      margin: 0;
      background: #ecf0f1;
      color: #fff;
      font-family: sans-serif;
      line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

header {
    width: 100%;
    min-width: 320px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: var(--soft-blue);
    box-shadow: 0px 4px 8px rgba(29, 37, 71, 0.657);
    border-radius: 4px;
}

header .header--logo {
    height: 55px;
}

header h2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--cold-white);
}

header .header-container--info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header:after {
    content: " ";
    display: table;
    clear: both;
}

.logo {
    display: block;
    text-decoration: none;
    float: left;
    margin-top: 14px;
    color: white;
    font-size: 1.4em;
}
  
.main-nav,
.drop-nav {
    background: var(--yellow-gold);
}

li img {
    width: 29px;
    height: auto;
}

.main-nav {
    float: right;
    border-radius: 4px;
    margin-top: 8px;
    border: solid 1px #1e2a36;
    width: 80px;
}

.dropdown {
    width: 50%;
}

.drop-nav {
    width: 120px;
    height: auto;
}

.main-nav > li {
    float: left;
    border-left: solid 1px #1e2a36;
}

.main-nav li:first-child {
    border-left: none;
}

.main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}
.dropdown,
.flyout {
    position: relative;
}
.dropdown:after {
    content: "\25bc";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.drop-nav,
.flyout-nav {
    position: absolute;
    display: none;
}

.drop-nav li {
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
    display: block;
}

.flyout-nav {
    left: 100%;
    top: 0;
}

.flyout:hover a,
.flyout-nav {
    background: #395066;
}